.borrow-tools {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.input-box {
    max-width: fit-content;
    background-color: rgba(21, 71, 52, 25%);
    color:black;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 0;
    border-radius: 5px;
    margin-top: 150px;
}

.input-box input {
    margin-bottom: 30px;
    height: 25px;
}

.date label {
    margin-right: 10px;
}

#due-date {
    margin-right: 10px;
}

.submit{
    margin-bottom: 30px;
    max-width: fit-content;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }