body{    
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
    color: #e87500;
    padding-left: 0;
}

.title {
    display: flex;
    align-items: center;
}

img {
    width: 90px;
    height: 90px;
    margin-left: 100px;
    margin-right: 0;
    margin-top: 2px;
}

.header-buttons {
    background-color: #e87500;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-buttons button {
    background-color: #e87500;
    border: none;
    box-shadow: none;
    color: white;
    font-size: larger;
    font-weight: bold;
    transition: all 0.15s;
}

.header-buttons button:hover {
    cursor: pointer;
    text-decoration: underline;
}