.grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0;
}

.column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    
}

.cell{
    border-style: solid;
    border-width: 0.6px;
    text-align: center;
}