.dashboard{
    font-family: Arial, Helvetica, sans-serif;
    color: #154734;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
}

.cell{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 10px;
    min-width: fit-content;
}

.column-grid-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
    background-color: #154734;
    color: white;
    height: 30px;
}

.header-cell{
    border-style: solid;
    border-width: 1px;
    border-color: #154734;
    padding: 5px;
    text-align: center;
}