.grid-2{
    display: grid;
    grid-template-columns: 1fr;
    
}

.column-grid-2{
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr 1fr;
    
}

.cell-2{
    border-style: solid;
    border-width: 0.7px;
    text-align: center;
}

.single-row{
    display: flex;
    border-style: solid;
    border-width: 0.7px;
    text-align: center;
    column-gap: 5px;
    padding-left: 5px;
}