#manage-teams-button{
    color: black;
}

hr {
    border: 2px solid #e87500;
    width: 26%;
    border-radius: 10px;
    margin-left: 0;
}

.manage-teams-bttns{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.add-input-box {
    display: flex;
    flex-direction: column;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#table-header {
    background-color: #154734;
    color: white;
}

.column-grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
}

.cell {
    border-style: solid;
    border-width: 1px;
    border-color: #154734;
    padding: 5px;
    text-align: center;
}

.column-grid-2 button {
    background-color: white;
    color: #154734;
    border: none;
    margin-bottom: 5px;
    transition: all 0.15s;
}

.column-grid-2 button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

.add-user {
    background-color: white;
    border: none;
    font-size: larger;
    font-weight: bold;
    color: #154734;
    transition: all 0.15s;
}

.add-user:hover {
    cursor: pointer;
    color: #e87500;
    text-decoration: underline;
}

.cell-2{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 10px;
    min-width: fit-content;
    padding: 15px;
}

.single-row{
    display: flex;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    column-gap: 5px;
    padding-left: 5px;
}

#new-member {
    font-size: large;
    width: 25px;
    height: 25px;
}

#new-member:hover {
    text-decoration: none;
}

input[type="file"] {
    color: #154734;
    border: 3px dashed #154734;
    padding: 5px;
    border-radius: 25px;
    transition: all 0.15s;
}

input[type="file"]::file-selector-button {
    background-color: #154734;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 25px;
    transition: all 0.15s;
}

input[type="file"]:hover {
    cursor: pointer;
    border-color: #0e2f23;
    color: #0e2f23;
}

input[type="file"]::file-selector-button:hover {
    background-color: #0e2f23;
    cursor: pointer;
}