#manage-tools-button{
    color: black;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr;
    
}

.column-grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.cell-2{
    border-style: solid;
    border-width: 0.7px;
    text-align: center;
}
